<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>education</key>
	<array>
		<dict>
			<key>school</key>
			<string></string>
			<key>period</key>
			<string></string>
			<key>info</key>
			<string></string>
		</dict>
	</array>
	<key>personal details</key>
	<dict>
		<key>name</key>
		<string>Enrique Choynowski Melgarejo</string>
		<key>first name</key>
		<string>Enrique</string>
		<key>photo</key>
		<string>ImageProfile</string>
		<key>github</key>
		<string>https://github.com/Enriquecm/</string>
	</dict>
</dict>
</plist>
